 <!-- List of Books content  -->
 <div class="" id="hod-search-bk-div">
        <div class="page-title">
          <div class="title_left">
            <h3>List of Books</h3>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                <table id="search-book-table" class="table table-striped dt-responsive nowrap search-book-table" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Access No</th>
                      <th>Book Name</th>
                      <th>ISBN</th>
                      <th>Availability</th>
                      <th>Cupboard No</th>
                      <th>Shelf No</th>
                      <th>price</th>
                      <th>Author</th>
                    </tr>
                  </thead>


                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    <!-- End of List of Book content -->