       <!-- Staff Selection content  -->
        <!-- <div class="right_col" role="main" > -->
            <div class="lib_content" id="lib-staff-sel-div">
                <div class="page-title">
                  <div class="title_left">
                    <h3>Staff Selection</h3>
                  </div>
                </div>
    
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_content">
                        <table id="list-staff-table" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>Staff ID</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Designation</th>
                              <th>Intercom</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
    
    
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              </div>
            <!-- </div> -->
            <!-- End of Staff Selection content -->