<div class="lib_content" id="lib-dashboard-div">
    <div class="page-title">
      <div class="title_left">
        <h3>Dashboard</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <!-- <div class="row"></div> -->
      <!-- <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel"> -->
                <!-- <div class="right_col" role="main">
                        <div class=""> -->
      <div class="row top_tiles pt-md">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
            <div class="count"><%= data.staff_count %></div>
            <h3>Staffs</h3>
            <p></p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-comments-o"></i></div>
            <div class="count"><%= data.total_book_count %></div>
            <h3>Books</h3>
            <p></p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
            <div class="count"><%= data.issued_book_count %></div>
            <h3>Books Issued</h3>
            <p></p>
          </div>
        </div>
      </div>
  </div>